$fw-regular: 400;
$fw-light: 300;
$fw-bold: 700;
$fs-default: 18px;
$lh-default: 27px;
$fs-small: 14px;
$text-color-default: #343030;
$bg-color-default: #F6F3F3;
$btn-bg-color-default: #382E2B;
$btn-text-color-default: #F4F6F9;
$header-border-color-default: #E1E1E1;
$footer-bg-color-default: #ECEAEA;
$footer-text-color-default: #555555;